<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.generalrobotix.ui.realtimesystem_configurator.PerspectiveFactory"
            id="com.generalrobotix.ui.realtimesystem_configurator.perspective"
            name="Realtime System Configurator"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.generalrobotix.ui.realtimesystem_configurator.category"
            name="Realtime System Configurator"/>
      <view
            category="Realtime System Configurator"
            class="com.generalrobotix.ui.realtimesystem_configurator.RTCListView"
            id="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"
            name="RTC List"/>
      <view
            category="Realtime System Configurator"
            class="com.generalrobotix.ui.realtimesystem_configurator.TimingChartView"
            id="com.generalrobotix.ui.realtimesystem_configurator.timingchartview"
            name="Timing Chart"/>
      <view
            class="com.generalrobotix.ui.realtimesystem_configurator.RTSystemTopologyView"
            id="com.generalrobotix.ui.realtimesystem_configurator.topologyview"
            name="RTSysytem Topology"/>
      <view
            class="com.generalrobotix.ui.realtimesystem_configurator.BenchTestOperatorView"
            id="com.generalrobotix.ui.realtimesystem_configurator.benchtestoperator"
            name="BenchTest Operator"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.generalrobotix.ui.realtimesystem_configurator.perspective">
         <view
               id="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.view.editors"/>
         <view
               id="org.eclipse.ui.view.PropertySheet"
               relationship="stack"
               relative="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"/>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               relative="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"/>
         <view
               id="jp.go.aist.rtm.repositoryView.view"
               relationship="stack"
               relative="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"/>
         <view
               id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView"
               relationship="stack"
               relative="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"/>
         <view
               id="com.generalrobotix.ui.realtimesystem_configurator.topologyview"
               relationship="stack"
               relative="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"/>
         <view
               id="com.generalrobotix.ui.realtimesystem_configurator.benchtestoperator"
               relationship="stack"
               relative="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"/>
         <view
               id="com.generalrobotix.ui.realtimesystem_configurator.timingchartview"
               relationship="stack"
               relative="com.generalrobotix.ui.realtimesystem_configurator.rtclistview"/>
      </perspectiveExtension>
   </extension>

</plugin>
